body {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex; 
   flex-direction: column;
   align-items: center;
   gap: 25vh;
   background-color:whitesmoke; 
   color: whitesmoke;   
}
nav {
  width: 100vw; 
  padding: 15px;
  display: flex;
  justify-content:space-around;
  background-color: #333a4c; 
  font-size: 16px;
}
#git_btn, #cv_btn {
  width: 9vw;
  height: 50px;
  border: 1px solid transparent;
  background-color: #333a4c;
  color: whitesmoke;
  font-family: 'Hind Siliguri', sans-serif;
}
#git_btn:hover, #cv_btn:hover {
  box-shadow: 0px 2px 0px 0px whitesmoke;
}
main {   
  height: 20vh;
  width: 300px; 
  display:flex;
  flex-direction: column;
  align-items: center; 
  background-color: #333a4c;
  border-radius: 10px;
  padding: 20px 10px 40px ;
  margin: 20px 0px;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
 a, a:hover, a:visited{
    color: whitesmoke;
 }
 li {
    list-style-type: none;
 }
 @media (max-width: 750px){
  #git_btn, #cv_btn {
    width: 22vw;
  }
}

@media (min-width: 3500px) {
  main { 
    height: 17vh;
    width: 40vw; 
    padding: 100px 0px;
  } 
  .quote-container{
    height: 17vh;
    width: 38vw;  
    font-size: 46px; 
  }
  main, #part1, #part2, #git_btn, #cv_btn {
    font-size: 48px;
    padding-bottom: 80px;
  }
}
